<a href="https://colab.research.google.com/github/HibaNasreen/Learn.py/blob/main/TASK_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [2]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
print(df1)
#please provide your answer below this line
print(df1.isnull())
print(df1.dropna(axis=0))

                   A         B         C         D   F    E
2021-01-01 -0.751722 -1.113347 -1.552450  0.016610 NaN  1.0
2021-01-02 -1.531038 -0.687194  0.592569  0.140176 NaN  1.0
2021-01-03  0.124987  0.956172  0.925191  0.094306 NaN  NaN
2021-01-04  0.746610  0.857295  0.905941 -1.491435 NaN  NaN
                A      B      C      D     F      E
2021-01-01  False  False  False  False  True  False
2021-01-02  False  False  False  False  True  False
2021-01-03  False  False  False  False  True   True
2021-01-04  False  False  False  False  True   True
Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

2. In the data given below,fill the missing data with 20.

In [ ]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1.fillna(value=20))

                   A         B         C         D     F     E
2021-01-01  0.412014 -2.127992 -1.370015  0.240943  20.0   1.0
2021-01-02 -0.756691  0.444671  0.964631 -0.561870  20.0   1.0
2021-01-03  1.771173 -0.588673 -1.135732 -0.032432  20.0  20.0
2021-01-04 -0.553311  0.926283  2.369550  0.605441  20.0  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
print(df)
#please provide your answer below this line
pieces=[df[:3],df[3:8]]
print(pieces)
print(pd.concat(pieces))
print(pd.concat(pieces,axis=1))
a=df[:3]
b=df[3:8]
print(pd.concat([a,b]))

          0         1         2         3
0 -1.866464 -0.570197  0.031738 -1.738499
1  0.592308 -0.408468 -0.767112 -0.554461
2 -0.518155 -0.168432  0.450623  0.627134
3 -0.574170 -0.921635 -2.583452  1.909689
4  0.237716  0.583647 -0.220387  0.078147
5  0.409996  0.098298 -0.476128  0.652395
6 -1.625485 -0.758118 -0.363180 -0.099554
7 -0.784483  0.062553 -0.093414 -1.152270
8 -0.073510  0.615753 -0.596638  1.224187
9 -0.542823 -0.843574  0.746238  0.724032
[          0         1         2         3
0 -1.866464 -0.570197  0.031738 -1.738499
1  0.592308 -0.408468 -0.767112 -0.554461
2 -0.518155 -0.168432  0.450623  0.627134,           0         1         2         3
3 -0.574170 -0.921635 -2.583452  1.909689
4  0.237716  0.583647 -0.220387  0.078147
5  0.409996  0.098298 -0.476128  0.652395
6 -1.625485 -0.758118 -0.363180 -0.099554
7 -0.784483  0.062553 -0.093414 -1.152270]
          0         1         2         3
0 -1.866464 -0.570197  0.031738 -1.738499
1  0.592308 -0.408468 -0.767112 -0.554461
2 -0.518155 -0.168432  0.450623  0.627134
3 -0.574170 -0.921635 -2.583452  1.909689
4  0.237716  0.583647 -0.220387  0.078147
5  0.409996  0.098298 -0.476128  0.652395
6 -1.625485 -0.758118 -0.363180 -0.099554
7 -0.784483  0.062553 -0.093414 -1.152270
          0         1         2  ...         1         2         3
0 -1.866464 -0.570197  0.031738  ...       NaN       NaN       NaN
1  0.592308 -0.408468 -0.767112  ...       NaN       NaN       NaN
2 -0.518155 -0.168432  0.450623  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ... -0.921635 -2.583452  1.909689
4       NaN       NaN       NaN  ...  0.583647 -0.220387  0.078147
5       NaN       NaN       NaN  ...  0.098298 -0.476128  0.652395
6       NaN       NaN       NaN  ... -0.758118 -0.363180 -0.099554
7       NaN       NaN       NaN  ...  0.062553 -0.093414 -1.152270

[8 rows x 8 columns]
          0         1         2         3
0 -1.866464 -0.570197  0.031738 -1.738499
1  0.592308 -0.408468 -0.767112 -0.554461
2 -0.518155 -0.168432  0.450623  0.627134
3 -0.574170 -0.921635 -2.583452  1.909689
4  0.237716  0.583647 -0.220387  0.078147
5  0.409996  0.098298 -0.476128  0.652395
6 -1.625485 -0.758118 -0.363180 -0.099554
7 -0.784483  0.062553 -0.093414 -1.152270